body{
    background-image: url(a3521c845c0e6ed8227e07f210722a8c.jpg);
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Azeret Mono", serif;
}
.log1{
    display: flex;
    gap: 10px;
    flex-direction: column; 
    text-align: center;
    font-family: "Azeret Mono", serif;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.5); /** to set the opacity with white bg */
    color: black;
    border-radius: 20px;
}
.user{
    display: inline-flex;
    background-color: aliceblue;
    padding: 3%;
    margin: 2%;
    border-radius: 10px;
}
.pass{
    display: inline-flex;
    background-color: aliceblue;
    padding: 3%;
    border-radius: 10px;
}    
.sub{
    display: inline-block;
    gap: 10px;
}
#but{
    font-family: "Azeret Mono", serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: black;
    border: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
#but:hover{
    background-color:#71c7b9;
}
#for{
    font-family: "Azeret Mono", serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: black;
    border: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
#for:hover{
    background-color:#71c7b9;
}

#sign{
    font-family: "Azeret Mono", serif;
    background-color: rgba(255, 255, 255, 0.5); 
    color: black;
    border: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
#sign:hover{
    background-color:#71c7b9;
}
.input{
    border: 1px solid #ccc;
    border-radius: 5px;
}